.navbar-font{
    font-size: 22px;
    font-weight: 100;

}

.section-home{
    background: #347bb9;
    border-radius: 20px;
}

.img-section1{
    height: 60px;
    margin-top: 50px;
    margin-left: 68px;
}

.sectionhome-heading{
    margin-top: 40px;
    font-family:inherit;
    margin-left: 70px;
    font-weight: 100;
    font-size: 30px;
    
}

.sectionhome-heading2{
    margin-left: 70px;
    margin-top: 10px
}

.sectionhome-heading3{
    margin-left: 70px;
    margin-top: 30px;
    color: rgb(211, 202, 202);
}

.btn-section1{
    margin-left: 70px;
    margin-top: 45px;
    background-color:rgb(207, 58, 58);
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 19px;
}

.coding-img{
    height:300px; border-radius: 40px;
}
.btn-section-pbl{
    margin-top: 45px;
    background-color:rgb(207, 58, 58);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

.main-heading-sec-register{
    font-weight: 200;
    font-family:'Times New Roman';
    margin-top: 50px;
}

.heading1-sec-register{
    font-weight: 100;
    font-size: 30px;
    margin-top: 40px;
}

.heading2-sec-register{
    font-weight: 400;
}

.btn-sec-register{
    background-color:rgb(207, 58, 58);
    color:white;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width:150px;
}


.img-pbl{
    height:250px ;

}